.textoSobreMascote {
	color: #000;
	position: absolute;
	margin-top: -53%;
	margin-left: 40%;
	font-size: 25px;
}

.mascote {
	margin-top: 100px;
}

.inicialLogo {
	margin-top: 50px;
}

/* caso queira usar icones próprios
.ion-ios-customicon,
.ion-md-customicon {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../../img/calendar.png');
  background-size:contain;
  width: 24px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

*/